.left-profile {
  background-color: rgba(246, 246, 246, 1);
  /* width: 80%; */
  height: 80vh;
}
.right-profile {
  /* margin-left: 0px; */
  background-color: rgba(246, 246, 246, 1);

  height: 80vh;
}
.profile-pic {
  /* align-items: center;
  justify-content: center; */
  margin: 60px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.info-table {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
  padding-left: 10px;
}
/* td{font-weight: bold;} */
th,
td {
  padding-bottom: 20px;
}
.table-title {
  font-weight: bold;
}
