.left-profile {
  background-color: rgba(246, 246, 246, 1);
  /* width: 80%; */
  height: 80vh;
}
.right-profile {
  /* margin-left: 0px; */
  background-color: rgba(246, 246, 246, 1);
  padding: 0px;
  height: 80vh;
}
.profile-pic {
  /* align-items: center;
  justify-content: center; */
  margin: 60px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.info-table {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
}
/* td{font-weight: bold;} */
th,
td {
  padding-bottom: 20px;
}
.table-title {
  font-weight: bold;
}
.title {
  color: rgba(153, 123, 198, 1);
  padding: 20px 0px 10px 10px;
}
.line {
  width: 100%;
  border-bottom: 1px solid black;
}
.add-button {
  font-size: small;
  border-width: 1px;
  border-color: rgb(105, 105, 105);
}
.submit-button {
  border-width: 1px;
  border-color: rgb(105, 105, 105);
  position: absolute;
  font-size: large;
  bottom: 30px;
  right: 30px;
}
.form-style {
  outline: 0;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 25%;
  border-width: 0 0 1px;
}
.form-style:focus {
  /* border: none; */
  border-width: 0 0 1px;
  border-color: blue;
}
